@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    
}
body{
    background-color: #644989 !important; 
}
.nav-item a{
    font-size: 1.5em;
    color: black;
    margin-right: 50px;
}
header{
    box-shadow: 2px 2px 10px black;
    background-color: white;
}

.modal{
    width: 330px;
    height: 200vh;
    
   
}
.modal-dialog{
    

}
.modal-content{
    width: 325px;
    
   
    
}
.modal-line a{
    color: black;
    font-size: 1.5em;
}
.modal-header{
    height: 90px;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 30px 30px 0px 0px;
    
}
.modal-body{
    
    border-radius: 0px 0px 30px 30px;
}

.nsei{
    width: 50%;
}

#div{
    margin-top: 50px;
}
#fora{
    background-color: #74A60A;
    width: 100%;
    border-radius: 20px;
    text-align: center;
   
    margin-bottom: 20px;
    height: 60px;
}
#lixo{
    display: flex;
    align-items: center;
    margin: auto;
}
#lixo a{
    color: black;
}
#lixo a:hover{
    color: red;
}
#dent{
    
    background-color: #343A40;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}
#dent:hover{
    text-decoration: none;
}
#dent h1{
    font-weight: 400;
  color: white;
  width: 100%;
  display: block;
  white-space: nowrap; 
 overflow: hidden;
 text-overflow: ellipsis;
 padding-left: 15px;
}




.a{
    width: 80px;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    top: 80vh;
    left: 90vw;
    background-color:#28A745 ;
}
.a{
    color: black;
}
.a:hover{
    color: #644989;
    text-decoration: none;
}
.h1{

}





main{
   margin-top: 1%;
    
}

.usuario{
    font-size: 5em;
    
    
}



.col-lg-6{
    width: 900px !important;
    background-color: #74A60A;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}
.input-group{
    
}
.form-control{
   width: 300px !important;
    
}


@media (max-width: 1100px) {
   
    .navimg{
     display: none;
    }
 
 
 #div{
    
    
 }
    .nsei{
     width: 100%;
    
 }
 
 
 
 main{
     margin-top: 15%;
     
  }
  
  .caixa{
     
  }
  .usuario{
      font-size: 5em;
  }
  #form2Example22[disabled]{
      background-color: #343A40;
  }
  .caixausuario{
     
  }
  .maisuma{
     
  }
  .col-lg-6{
    width: 100% !important;
    background-color: #74A60A;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}
.form-control{
    width: 40vh !important;
     
 }
 
 
 
 }